.main {
  margin-left: 16%;
  padding: 0px 10px;
  background-color: #ffffff;
  color: #3b71ca;
  height: 100%;
  overflow: auto;
  font-size: medium;
  display: flex; /* Use flexbox to center its child element */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 1%;
  z-index: 1;
  position: relative;
}

.formContainer {
  width: 75%;
  height: 90%;
  background-color: #ffffff;
  box-sizing: border-box;
}

.formContainer button {
  width: 15%;
}

.mainPart{
  margin-left: 16%;
  padding: 0px 10px;
  background-color: #ffffff;
  color: #464e5c;
  height: 100%;
  overflow: auto;
  font-size: medium;
  display: flex; /* Use flexbox to center its child element */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 1%;
  z-index: 1;
  position: relative;
}


/* genarate question main */
.genarateQuestionMain {
  padding-right: 15%;
  margin-left: 16%;
  padding: 0px 10px;
  background-color: #ffffff;
  color: #464e5c;
  height: 100%;
  overflow: auto;
  font-size: medium;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 1%;
  z-index: 1;
  position: relative;
}

/* genarate paper Question Box */
.questionBox {
  margin-left: 5%;
  padding: 0px 10px;
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  overflow: auto;
  font-size: medium;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 48px;
}


/* style check box */

.checkbox-container {
  position: relative;
  display: inline-block;
}

.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-container .custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.checkbox-container input[type="checkbox"]:checked + .custom-checkbox:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 2px;
}


/* style side scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  z-index: 1;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#5e89cd;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
